# Byte-compiled / cache
__pycache__/
*.pyc

# Virtual environments
.env
.venv

# Jupyter Notebook
.ipynb_checkpoints/

# Data & models
data/
models/
*.h5
*.pkl
*.joblib

# OS files
.DS_Store
Thumbs.db
